.header {
  background-color: #e4e7e7e3;
  color: #333333;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin-right: 15px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.nav-link {
  color: #333333;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, sans-serif;
  padding: 10px 21px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #dcdcdc;
}

.Logo_Rivera {
  height: 30px;
}

/* Estilos para el botón de cerrar sesión */
.logout-button {
  background-color: #ff4d4d; /* Color de fondo rojo */
  color: #ffffff; /* Color de texto blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Espacio interno */
  font-size: 17px; /* Tamaño de fuente */
  font-family: Arial, sans-serif; /* Consistente con el resto */
  cursor: pointer; /* Puntero al pasar el mouse */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones para suavidad */
}

.logout-button:hover {
  background-color: #ff1a1a; /* Color más oscuro al pasar el mouse */
  transform: scale(1.05); /* Efecto de escalado */
}
