.header {
  background-color: #e4e7e7e3;
  color: #333333;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin-right: 15px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.nav-link {
  color: #333333;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, sans-serif;
  padding: 10px 21px;
  transition: background-color 0.3s;
}

/*.nav-link:hover {
  background-color: #dcdcdc;
}*/

.Logo_Rivera {
  height: 30px;
}

.powerbi-icon {
  width: 30px; /* Tamaño del icono */
  height: auto; /* Mantener las proporciones de la imagen */
  cursor: pointer; /* Cambiar el cursor a mano cuando pasas por encima */
}

/* Estilos para la imagen de cerrar sesión */
.logout-button {
  background-color: transparent; /* Elimina el fondo */
  border: none; /* Elimina el borde */
  padding: 0; /* Elimina cualquier padding extra */
  cursor: pointer; /* Cambia el cursor a mano */
  transition: transform 0.2s; /* Efecto de transición */
  outline: none; /* Elimina el borde azul al recibir el foco */
}

.logout-button:focus {
  outline: none; /* Elimina el borde azul al hacer foco */
}

.logout-button img {
  width: 30px; /* Tamaño de la imagen */
  height: auto; /* Mantiene las proporciones */
}


